header img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 100px;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #004170;
  font-family: Courier New, monospace;
}

header {
  background-color: rgba(0, 151, 255, 0.8);
  color: white;
  text-align: center;
  padding: 2rem 0;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}
