.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #004170;
  font-family: Courier New, monospace;
}

.superlista {
  color: #2ce849;
  font-family: Courier New, monospace;
}
